button {
  width: 100%;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 32px;
}

.button-primary {
  background-color: #780BF7;
  color: #ffffff;
}

.button-secondary {
  background-color: transparent;
  color: #0B254B;
  border: 2px solid #780BF7;
}

.button-primary.fit-content,
.button-secondary.fit-content {
  width: fit-content;
}