.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.cart-item-image {
  width: 170px;
  height: 160px;
  object-fit: cover;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 250px;
}

.cart-item-name {
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0B254B;
}

.cart-item-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0B254B;
}

.cart-item-price {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0B254B;
}

.cart-item-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.cart-item-quantity span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #0B254B;
}

.cart-item-quantity-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-item-quantity-actions div {
  height: 32px;
  border: 1px solid #0B254B;
  width: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.cart-item-delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.cart-item-delete span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #0B254B;
}

.cart-item-delete img {
  cursor: pointer;
}