
.cart {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart h2 {
  text-align: center;
}

.cart-empty {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #090129;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cart-message {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #090129;
  background-color: rgba(25, 50, 92, 0.1);
  padding: 16px;
  border-radius: 8px;
  width: fit-content;
  margin: 0 auto;

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

.cart-details {
  display: flex;
  margin: 40px 0;
  gap: 24px;

  @media (max-width: 480px) {
    flex-direction: column;
  }
}

.cart-items {
  flex: 1;
  background-color: #EFEFEF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.cart-info {
  width: 452px;
  background-color: #EFEFEF;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 480px) {
    width: 100%;
  }
} 

.cart-info hr {
  border: 1px solid #780BF7;
}

.cart-info-row {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  color: #0B254B;
}

.cart-info-total {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #780BF7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.cart-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 12px;
}