.product-card {
  width: 100%;
  box-shadow: 0px 4px 24px 0px #780bf71f;
}

.product-image {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.product-info {
  background-color: #EFEFEF;
  color: #090129;
  height: 125px;
  padding: 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-name {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.product-price {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 31px;
}