/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 39px;
  font-weight: 700;
  color: #0B254B;
  margin: 40px 0;

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #0B254B;
}

.container {
  max-width: 1504px;
  margin: 0 auto;
  height: 100%;
  padding: 0 32px;
}

button {
  width: 100%;
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding: 16px 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  border-radius: 32px;
}

.button-primary {
  background-color: #780BF7;
  color: #ffffff;
}

.button-secondary {
  background-color: transparent;
  color: #0B254B;
  border: 2px solid #780BF7;
}

.button-primary.fit-content,
.button-secondary.fit-content {
  width: fit-content;
}